<div class="modal-header">
    </div>
<div class="modal-body">
    <form action="" class="form col-md-12 center-block">
        <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="属性名" ng-model="css.name">
        </div>
        <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="值" ng-model="css.val">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="button" ng-click="ok(css)">OK</button>
        </div>
    </form>
</div>
<div class="modal-footer"></div>
