<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active "><a href="#" ng-click="logout()">登出</a></li>
                <li class="active"><a ng-click="save()">保存</a></li>
                <li class="active"><a href="#" ng-click="goList">目录</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row ">
        <div class="sidebar-nav col-md-2 ">
            <ul class="nav nav-list">
                <li class="nav-header"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> 页面编缉</li>
                <li ng-repeat='x in issuePostService.issuePost.page' ui-sref='.editpage({pageid:{{$index}}})'>
                    <div class="nav-list-p" ui-sref='.editpage({pageid:{{$index}}})'>Page:{{$index}}</div>
                    <span class="del label" ng-click="del($index)">删除 -</span>
                </li>
                <li>
                    <button type="button" class="btn btn-xs del label" ng-click="add()">新增+</button>
                </li>
            </ul>
        </div>
        <div ui-view="" class="content col-md-10"></div>
    </div>
</div>
