<div touch ng-touchstart="onTouchstart($event)" ng-touchmove="onTouchmove($event)" ng-touchend="onTouchend($event)" class="wrapper" ng-show='!AILoading' ng-class="{true: 'active', false: 'inactive'}[isActive]" ng-style="{height:style.mainH,'{{transform}}':style.transform}"><!--
--><section ng-repeat="x in datas" class='sec{{$index}}' ng-style="{height:{{style.pageH}}+'px'}"><!--
    --><div class="h_wrp" ng-style="x.csstext"><!--
        --><div init ng-repeat="c in x.child" elay='{{c.delay}}' addClass="{{c.animat}}" class="animated" ng-style="{{c.csstext}}" ng-touchend="{{c.action}}">{{c.label}}</div><!--
            
             --><i class='up' ng-show="!$last"></i><!--

--></section><!--
--></div><!--
--><div ng-show="data.modal" class="modal1"><!--
--><div class="modal_bg" ng-click="modalhide()"></div><!--
    --><img ng-src="{{data.modalimg}}" class="Absolute-Center" ng-click="data.modal=false"></img><!--
--></div>
 --><div ng-show="audioable" class="music btn_audio cir" ng-click="data.audiopause()"></div><!--
