<div class="wrapper" ng-class="{true: 'active', false: 'inactive'}[isActive]">
    <section class='sec2' ng-show="!data.pause">
        <div ng-click="next()">
            得分 : {{data.count}}
        </div>
        <div>
            {{data.times}}
        </div>
        <div>
            <a class="button  button-pill button-jumbo" ng-click="pause()">暂停</a>
        </div>
        <div class="puzzle">
            <puzzle api="puzzle.api" size="{{puzzle.rows}}x{{puzzle.cols}}" src="{{puzzle.src}}" color="{{puzzle.color}}"></puzzle>
        </div>
    </section>
    <div ng-show="data.pause" class="pause">
        <div class="menu">
            <a class="btn button button-3d button-highlight button-rounded button-giant" ng-click="restart()">继续游戏</a>
            <br>
            <br>
            <a class="btn button button-3d button-highlight button-rounded button-giant"="/20150828/more">更多游戏</a>
        </div>
    </div>
</div>
