<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{currentUser.name}}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <a class="btn btn-sm btn-primary"  ng-click="quit()">返回</a>
                <a class="btn btn-sm btn-primary"  ng-click="save()">保存</a>
            </ul>
        </div>
    </div>
</nav>
<table class="table table-striped table-hover">
    <tbody>
        <tr>
            <td>昵称</td>
            <td><input type="text" ng-model='user.name'></td>

        </tr>
        <tr>
            <td>电邮</td>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <td>新密码</td>
            <td><input type="text" ng-model='newpassword'></td>
        </tr>
        <tr>
            <td>重复密码</td>
            <td><input type="text" ng-model='repeatpassword'></td>
        </tr>

    </tbody>
</table>
