body {
    margin: 0px;
    background: #ff4e40;
    overflow: hidden;
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    margin:0;
    padding:0;
}

@-webkit-keyframes loading{
    0%{
        -webkit-transform:rotate(0deg)
    }
    100%{
        -webkit-transform:rotate(360deg)
    }

}
@-moz-keyframes loading{
    0%{
        -moz-transform:rotate(0deg)
    }
    100%{
        -moz-transform:rotate(360deg)
    }

}
@-o-keyframes loading{
    0%{
        -o-transform:rotate(0deg)
    }
    100%{
        -o-transform:rotate(360deg)
    }

}
@-ms-keyframes loading{
    0%{
        -ms-transform:rotate(0deg)
    }
    100%{
        -ms-transform:rotate(360deg)
    }

}
@keyframes loading{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }

}

@-webkit-keyframes start{
    0%{
        opacity:0;
        -webkit-transform:translate(0,10px)
    }
    50%{
        opacity:1;
        -webkit-transform:translate(0,-5px)
    }
    100%{
        opacity:0;
        -webkit-transform:translate(0,-15px)
    }

}
@-moz-keyframes start{
    0%{
        opacity:0;
        -moz-transform:translate(0,10px)
    }
    50%{
        opacity:1;
        -moz-transform:translate(0,-5px)
    }
    100%{
        opacity:0;
        -moz-transform:translate(0,-15px)
    }

}
@-o-keyframes start{
    0%{
        opacity:0;
        -o-transform:translate(0,10px)
    }
    50%{
        opacity:1;
        -o-transform:translate(0,-5px)
    }
    100%{
        opacity:0;
        -o-transform:translate(0,-15px)
    }

}
@-ms-keyframes start{
    0%{
        opacity:0;
        -ms-transform:translate(0,10px)
    }
    50%{
        opacity:1;
        -ms-transform:translate(0,-5px)
    }
    100%{
        opacity:0;
        -ms-transform:translate(0,-15px)
    }

}

@keyframes start{
    0%{
        opacity:0;
        transform:translate(0,10px)
    }
    50%{
        opacity:1;
        transform:translate(0,-5px)
    }
    100%{
        opacity:0;
        transform:translate(0,-15px)
    }

}

.wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}

div {
    position: absolute;
}

.active {
    opacity: 1;
    background: #ff4e40
}

.ngview {
    height: 100%;
    width: 100%;
    position: absolute;
}

.btn {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-top: 20px;
}

.slip {
    -webkit-transition: all 0.6s ease-in 0s;
    -moz-transition: all 0.6s ease-in 0s;
    -o-transition: all 0.6s ease-in 0s;
    -ms-transition: all 0.6s ease-in 0s;
    transition: all 0.6s ease-in 0s
}

.view-animate {
    height: 100%;
    width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.view-animate.ng-enter,
.view-animate.ng-leave {
    -webkit-transition: all ease-out 0.5s;
    transition: all ease-in 0.3s;
    display: block;
    width: 100%;
    border-left: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.view-animate.ng-leave {
    opacity: 1
}

.view-animate.ng-enter {
    opacity: 0
}

.view-animate.ng-enter.ng-enter-active {
    opacity: 1
}

.view-animate.ng-leave.ng-leave-active {
    opacity: 0
}

.menu {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 30%
}

.puzzle {
    padding: 10px;
    background: #ffffcc;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 620px;
    height: 620px
}

.sliding-puzzle {
    position: absolute;
    border-spacing: 0;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sliding-puzzle td {
    border-collapse: collapse;
    border: 2px solid #ffffcc;
    cursor: pointer;
    padding: 0;
}

.sliding-puzzle .puzzle-empty {}

.loader{

    left:50%;
    top:50%;
    margin: -42px -42px;


}

.wrapper section {
    position: relative;
    width: 101%;
    height: 100%;
    overflow: hidden;
    margin-bottom: -3px
}

.h_wrp {
    background-size: 100% 100%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.h_wrp div{
    background-size: 100% 100%;
    background-position: center;

}

.restore{
    -webkit-transition:top .2s linear;
    -moz-transition:top .2s linear;
    -o-transition:top .2s linear;
    -ms-transition:top .2s linear;
    transition:top .2s linear
}

.up{
    position:absolute;
    display:block;
    width:64px;
    height:64px;
    overflow:hidden;
    background:url(../img/arrow_down.png) 0 0px no-repeat;
    background-size:100% 100%;
    left:50%;
    bottom:30px;
    margin:0 0 0 -32px;
    -webkit-animation:start 1.5s infinite ease-in-out;
    -moz-animation:start 1.5s infinite ease-in-out;
    -o-animation:start 1.5s infinite ease-in-out;
    -ms-animation:start 1.5s infinite ease-in-out;
    animation:start 1.5s infinite ease-in-out
}

.keep{
    -webkit-transition:-webkit-transform .4s linear;
    -moz-transition:-moz-transform .4s linear;
    -o-transition:-o-transform .4s linear;
    -ms-transition:-ms-transform .4s linear;
    transition:transform .4s linear
}

.modal1{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px

}

.modal_bg{

    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.2;

}


.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.music{
    background:url(../img/btn_music.png) 0 0 no-repeat;
    background-size:100% 100%;
    height:54px;
    width:54px;
    position:absolute;
    top:20px;
    right:20px;
}

.cir{
    -webkit-animation:loading 1.2s linear infinite;
    -moz-animation:loading 1.2s linear infinite;
    -o-animation:loading 1.2s linear infinite;
    -ms-animation:loading 1.2s linear infinite;
    animation:loading 7.2s linear infinite
}



